.body{
	background-color:yellow;
}
#nameTitle{
	
	font-size:2em;
	margin-left:20%;
	margin-top:-100px;
}
#welcome{
	margin-left:8%;
	font-size:4em;
}
#playerAmountSelect{
	margin-left:-20px;
	margin-top:40px;
}
#submitAmount{
	font-size:16px;
	background-color:#008CBA;
	border-radius:12px;
	margin-top:30px;
}
#nickNames{
	margin-left:200px;
	margin-top:-100px;
}
#startOptions{
	margin-left:25%;
}
#clickSuggest{
	margin-left:10%;
}
#clickWarn{
	color:red;
}
#nameButtons{
	margin-left:30%;
}
#peekButton{
	margin-left:10%;
	margin-top:-44px;
}
#message{
	margin-left:30%;
	margin-top:10%;
	color:blue;
}
#goBack{
	margin-left:70%;
	margin-top:5px;
	font-size:16px;
	background-color:#f44336;
	border-radius:12px;
	
}
.gameInput{
	font-size:20px;
}
#goodName{
	height:30px;
	font-size:20px;
}
#badName{
	height:30px;
	font-size:20px;
}
#badLeader{
	height:30px;
	font-size:20px;
}
#roundDisplay{
	margin-left:70%;
	color:red;
}
#enterNames{
	margin-left:30%;
	margin-top:20px;
}
#submitNamesEntered{
	margin-left:35%;
	background-color:#4CAF50;
	font-size:20px;
	border-radius:12px;
}
.gameInput{
	margin-top:10px;
}
.primary{
	font-size:16px;
	background-color:#008CBA;
	border-radius:12px;
}
.alreadyClicked{
	font-size:16px;
	background-color:#4CAF50;
	border-radius:12px;
}
.illegal{
	font-size:16px;
	background-color:#f44336;
	border-radius:12px;
}
.nameInputBox{
	height:30px;
	font-size:20px;
}